.node-list {
  display: flex;
}



.first-row {
  display: flex;
  .overview {
    align-self: flex-start;
    .header-body {
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      font-size: 18px;
      & > div {
        text-align: center;

      }
     // justify-content: space-around;
     .caption {
       font-size: 20;
       font-weight: bold;
     }
    }
  }
  .plot {
    flex-grow: 1;
    margin-left: 10px;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    .plot {
      margin-left: 0;
      margin-top: 10px;
    }   
  }  
}

::ng-deep .ui-listbox-list {
  max-height: 300px;
}

.plot-area {
  display: flex;
  align-content: stretch;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    .plot-viewer {
      margin-left: 0;
      margin-top: 10px;
    }   
  }  
  .plot-options {
    display: flex;
    flex-direction: column;  
    .option-border {
      border: 1px solid gray;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 3px;
    }
    .select-options {
      display: flex;
      flex-direction: column;
    }
    .bar-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .country-values {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;      
    }
  }
  .plot-viewer {
    flex-grow: 1;
    #plotly-element {
      height: 100%;
    }
  }

}

::ng-deep {
  .country-list {
    width: 100%;
  }
  .ui-panel-titlebar {
    background-color: black !important;
    color: white !important;
  }

  .ui-progress-spinner {
    position: fixed;
    z-index: 1;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
  .ui-listbox-item {
    display: flex !important;
    align-items: center !important; 
  }

  .ui-dropdown {
    width: 100%;
  }
}
