<div class="container-fluid">
  <div class="row">

    <div class="col-6 mb-2">
      <div class="card">
        <div class="card-header bg-dark text-light">
          CORONA VIRUS OUTBREAK
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2"> Confirmed Cases: {{brief?.confirmed}}</h6>
          <h6 class="card-subtitle mb-2"> Deaths: {{brief?.deaths}}</h6>
          <h6 class="card-subtitle mb-2"> Recovered: {{brief?.recovered}}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6  mb-2">
      <p-treeTable [value]="valueTree">
        <ng-template pTemplate="header">
          <tr>
            <th>country</th>
            <th>confirmed</th>
            <th>recovered</th>
            <th>deaths</th>
            <th>prev confirmed</th>
            <th>prev recovered</th>
            <th>prev deaths</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr>
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.countryregion}}
            </td>
            <td>{{rowData.confirmed}}</td>
            <td>{{rowData.recovered}}</td>
            <td>{{rowData.deaths}}</td>
            <td>{{rowData.prev?.confirmed}}</td>
            <td>{{rowData.prev?.recovered}}</td>
            <td>{{rowData.prev?.deaths}}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
